<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <boby>
        {{> header}}
        <p>some text</p>
        {{> footer}}
    </boby>

</html>