<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <boby>
        <h1>we'll be right back....</h1>
        
        <p>
            the site is currently being updated.
        </p>   
    </boby>
</html>