<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <boby>
        {{> header}}
        <p>My Projects</p>
        <a href="https://glacial-crag-63978.herokuapp.com/">This project!</a>
        {{> footer}}
    </boby>
</html>